.lead__title {
    max-width: 793px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    margin: 0 0 32px 0;
}
  
@media screen and (max-width: 767px) {
    .lead__title {
      max-width: 288px;
      font-size: 40px;
    } 
}