.cover__title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    margin-bottom: 32px;
}
  
@media screen and (max-width: 767px) {
    .cover__title {
      font-size: 32px;
    } 
}
  